@model MyClosetWeb.Models.Clothes

@{
    ViewData["Title"] = "Closet";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
</head>

<div class="text-center" text-align: center;>
    <img src="~/imgs/slogam.png" width=250 height=150 runat="server" ;>
    @if (@ViewBag.CurrentUser is not null)
       {
        <h1 class="display-6">Seja Bem Vindo(a), @ViewBag.CurrentUser.Name!!</h1>
       }
    else{
    <h1 class="display-6">Seja Bem Vindo(a)!!</h1>

       }

    <p> 


    </p>
    <button type="button" class="btn btn-primary btn-add-piece">Adicionar Peça</button>

    <div class="row">
        < class="col-md-4">
        <form asp-controller="ClosetController" asp-action="RegisterCloset" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nickname" class="control-label">Apelido da Peça</label>
                    <input asp-for="Nickname" class="form-control" />
                    <span asp-validation-for="Nickname" class="text-danger"></span>
                </div>
                <div class="small-form-group">
                    <label asp-for="Color" class="control-label">Cor</label>
                    <input asp-for="Color" type="color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Size" class="control-label">Tamanho</label>
                    <input asp-for="Size" class="form-control" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.Type, new SelectList(Enum.GetValues(typeof(ClotheType))), "Selecione o tipo da peça")
                </div>              
                <div class="form-group">
                    @Html.DropDownListFor(model => model.Tissue, new SelectList(Enum.GetValues(typeof(TissueType))), "Selecione o tipo do tecido")
                </div>
                <div class="form-group">
                <label asp-for="ImageFile">Enviar Imagem:</label>
                <input asp-for="ImageFile" type="file" name="ImageFile" accept="image/*" />
                </div>
                <b />
                <div class="form-group">
                    <input type="submit" value="Registrar" asp-action="RegisterCloset"  class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@if (@ViewBag.UserCloset is not null)
{
    <div class="profile-grid">
        @foreach (var cloth in @ViewBag.UserCloset.Clothes)
        {
            <div class="cloth-item">
                <p>@cloth.Nickname</p>
                <img class="image-size" src="data:image/png;base64,@cloth.Image" alt="Image">
                <div class="button-container">
                    <form asp-controller="MeuController" asp-action="Metodo1" method="post">
                        <button class="btn-add-piece" type="submit">EDITAR</button>
                    </form>
                    <form asp-controller="ClosetController" asp-action="ExcluirPeca" method="post">
                        <button class="btn-add-piece" type="submit">EXCLUIR</button>
                    </form>
                </div>
            </div>
        }
    </div>
}





@section scripts {
    <script>
        $(document).ready(function () {
            $('.row').hide(); // Oculta o formulário inicialmente

            $('.btn-add-piece').click(function () {
                $('.row').show(); // Mostra o formulário ao clicar no botão "Adicionar Peça"
            });
        });
    </script>
}
